<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='donate.css') }}">
</head>
<body>
  <header>
    <div id="head">
        <h1 class="heading">
            <a>Social Service Connect</a>
        </h1>
        <nav>
        <a href="#">Home</a>
        <a href="#" class="active">Events</a>
        <a href="#">Shop</a>
        <a href="https://chat.whatsapp.com/L06dKCMoVepLEc1fcoDwBb" target="_blank">Contact</a>
        <input type="text" placeholder="search">
        </nav>
    </div>
</header>
<section class="donate-section">
    <h2 class="heading34"> Donate Us</h2>
    <ul class="donation-list">
      
      <li class="donation-item"> Donate Blankets for helping Help Foundation NGO
        <div class="ngo-details">
            <img src="{{ url_for('static', filename='blanket.jpg') }}" alt="NGO Image">
            <div class="button-wrapper">
                

                <button class="contact-button">
                    <a href="/donatee2">Donate Now</a>
                </button>
                
            </div>
        </div>
        <p class="ngo1">NGO: Help Foundation, Pune, Maharashtra</p>
    </li>
    
    
        <li class="donation-item"> Donate Clothes for needy in Aple vastra NGO
          <div class="ngo-details">
              <img src="{{ url_for('static', filename='clothes.jpg') }}" alt="NGO Image">
              <div class="button-wrapper">
                <button class="contact-button">
                    <a href="/donatee2">Donate Now</a>
                </button>
              </div>
          </div>
          <p class="ngo2">NGO: Aaple Vastra Foundation, Mumbai, Maharashtra</p>
        </li>

        <li class="donation-item"> Donate Money to Rehabilitation Center 
          <div class="ngo-details">
              <img src="{{ url_for('static', filename='shelter.jpg') }}" alt="NGO Image">
              <div class="button-wrapper">
              

                <button class="contact-button">
                    <a href="/donatee2">Donate Now</a>
                </button>
              </div>
          </div>
          <p class="ngo3">NGO: Mukti Rehabilitation Center, West Bengal</p>
        </li>

        <li class="donation-item"> Donate Food or money to buy Food
          <div class="ngo-details">
              <img src="{{ url_for('static', filename='hunger.jpg') }}" alt="NGO Image">
              <div class="button-wrapper">
                

                <button class="contact-button">
                    <a href="/donatee2">Donate Now</a>
                </button>
              </div>
          </div>
          <p class="ngo4">NGO: Khana Foundation, Mumbai, Maharashtra</p>
        </li>

        <li class="donation-item"> Donate Books for Knowledge
          <div class="ngo-details">
              <img src="{{ url_for('static', filename='book.jpg') }}" alt="NGO Image">
              <div class="button-wrapper">
              

                <button class="contact-button">
                    <a href="/donatee2">Donate Now</a>
                </button>
              </div>
          </div>
          <p class="ngo5">NGO: Padhai Foundation, Maharashtra</p>
        </li>

        <li class="donation-item"> Donate Money for Medical Supplies
          <div class="ngo-details">
              <img src="{{ url_for('static', filename='madat.jpg') }}" alt="NGO Image">
              <div class="button-wrapper">

                <button class="contact-button">
                    <a href="/donatee2">Donate Now</a>
                </button>
              </div>
          </div>
          <p class="ngo6">NGO: Help Foundation, Pune, Maharashtra</p>
        </li>

        <li class="donation-item"> Donate hygiene products for Cleanliness
          <div class="ngo-details">
              <img src="{{ url_for('static', filename='handwash.jpg') }}" alt="NGO Image">
              <div class="button-wrapper">
                

                <button class="contact-button">
                    <a href="/donatee2">Donate Now</a>
                </button>
              </div>
          </div>
          <p class="ngo7">NGO: Clean Hands, Maharashtra</p>
        </li>

        <li class="donation-item"> Donate your old furniture
          <div class="ngo-details">
              <img src="{{ url_for('static', filename='fur.jpg') }}" alt="NGO Image">
              <div class="button-wrapper">
               

                <button class="contact-button">
                    <a href="/donatee2">Donate Now</a>
                </button>
              </div>
          </div>
          <p class="ngo8">NGO: Comfort Care Trust, Maharashtra</p>
        </li>

        <li class="donation-item"> Donate Money to Anat Aashram
          <div class="ngo-details">
              <img src="{{ url_for('static', filename='anat.jpg') }}"alt="NGO Image">
              <div class="button-wrapper">
          

                <button class="contact-button">
                    <a href="/donatee2">Donate Now</a>
                </button>
              </div>
          </div>
          <p class="ngo9">NGO: Drashti Anat Aashram, Maharashtra</p>
        </li>

        <li class="donation-item"> Donate Money or items to Balika Aashram
          <div class="ngo-details">
              <img src="{{ url_for('static', filename='girls.jpeg') }}" alt="NGO Image">
              <div class="button-wrapper">
          

                <button class="contact-button">
                    <a href="/donatee2">Donate Now</a>
                </button>
              </div>
          </div>
          <p class="ngo10">NGO: Vatsalya Foundation, Maharashtra</p>
        </li>

        <li class="donation-item"> Donate Money to Deaf and Blind People Aasharm
          <div class="ngo-details">
              <img src="{{ url_for('static', filename='deaf.webp') }}"alt="NGO Image">
              <div class="button-wrapper">
           

                <button class="contact-button">
                    <a href="/donatee2">Donate Now</a>
                </button>
              </div> 
          </div>
          <p class="ngo11">NGO: Patiala Care Center,Mumbai , Maharashtra</p>
        </li>
    </ul>
</section>

</body>
</html>

