<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <title>Volunteer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='volunteer.css') }}">
    
</head>
<body>
  <header>
    <div class="head">
        <h1 class="heading" style="background-color: rgb(253, 255, 254);">
            <a>Social Service Connect</a>
        </h1>
        <nav>
            <a href="#" class="active">Home</a>
            <a href="#" id="event">Events</a>
            <a href="#">Shop</a>
            <a href="https://chat.whatsapp.com/L06dKCMoVepLEc1fcoDwBb" target="_blank">Contact</a>
            
            <input type="text" placeholder="search">
        </nav>
        <style>
            div {
                text-align: left;
            }
        </style>
    </div>
</header>



    <main>
        <img id="img1" src="{{ url_for('static', filename='needy.jpg') }}" height="300px">
        
        <div id="vol">
        <h1>Volunteer Programs</h1>
        <img id="img3" src="{{ url_for('static', filename='clean.jpg') }}" height="300px">
        <img class="image" src="{{ url_for('static', filename='blanket.jpg') }}" height="240px">
        <img class="image" src="{{ url_for('static', filename='hunger.jpg') }}">
        <img id="food" src="{{ url_for('static', filename='fur.jpg') }}">
        <img id="food" src="{{ url_for('static', filename='book.jpg') }}">
        
        
        
        
      </div>
      <div id="div1">
          <button>Clean-Up Day with Clean Earth NGO</button>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-bUQMMrIRTXqBcQeLiZEoivK0xUprTF1BabwIfkNh7jsyTg/viewform?vc=0&c=0&w=1&flr=0" target="_blank">
              <button>Apply</button>
          </a>
          <a href="https://www.instagram.com/social_service_connect?igsh=d254Y2MyeDNvcHA2" target="_blank">
              <button>Contact</button>
          </a>
      
          <h2 class="location">Location: Various neighborhoods in the city</h2>
          <h2>Date: Every first Saturday of the month</h2>
          <h2 class="dis">Description: Join Clean Earth NGO in their mission to keep our communities clean and green. 
              Volunteer for a morning of litter clean-up, graffiti removal, and beautification projects 
              in local parks, streets, and public spaces. 
              Make a tangible difference in the environment while 
              connecting with like-minded individuals in your community.</h2>
      </div>
      
      
      
        <div id="div2">
            <button>Homeless Outreach Program with Shelter Care Organization</button> 
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScadnlaxjfwEd1RCO0kSmEwHIhJzC3LqEZCXqgI0oYiBiWp-A/viewform?vc=0&c=0&w=1&flr=0" target="_blank">
              
            <button>Apply</button>  </a>
            <a href="https://www.instagram.com/social_service_connect?igsh=d254Y2MyeDNvcHA2" target="_blank">
              <button>Contact</button>
          </a>
            <h2 class="location">Location: Downtown area and shelters</h2>
            <h2> Date: Every Wednesday evening</h2>
            <h2 class="dis">Description: Partner with Shelter Care Organization to provide support and resources to individuals experiencing homelessness. Volunteer for street outreach teams, 
            distributing essential supplies such as food, water, hygiene kits, and blankets.</h2>
        </div>

        <div id="div3">
            <button>Food Distribution Drive with Community Food Bank</button>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdlH7IqiQrrql4tq0dEs_QvT83ZAvuMkzkXl6jnsU6FVo42Dw/viewform?vc=0&c=0&w=1&flr=0" target="_blank">
              <button>Apply</button>
          </a>
          <a href="https://www.instagram.com/social_service_connect?igsh=d254Y2MyeDNvcHA2" target="_blank">
            <button>Contact</button>
        </a>
            <h2 class="location">Location: Local food bank warehouse</h2>
            <h2>Date: Every second Saturday of the month</h2>
            <h2 class="dis">Description: Organize monthly food drives to help stock the shelves of our food bank. Responsibilities include coordinating volunteers, managing food collection, and overseeing the distribution of collected items.</h2>
         </div>

        <div id="div4">
            <button>Senior Wellness Program with Elderly Care Foundation</button>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSd3cLBRlp2IZax1boQlA-XdK-AbR7ANYN9LE58KyvL_dnLB-w/viewform?vc=0&c=0&w=1&flr=0" target="_blank">
              <button>Apply</button>
          </a>
          <a href="https://www.instagram.com/social_service_connect?igsh=d254Y2MyeDNvcHA2" target="_blank">
            <button>Contact</button>
        </a> 
            <h2 class="location">Location: Senior living facilities and community centers</h2>
            <h2>Date: Every Thursday morning</h2>
            <h2 class="dis">Description: Support the well-being of elderly individuals by participating in the Senior Wellness Program. Volunteer for fitness classes, recreational activities, and social events designed to promote physical health and mental stimulation among seniors. Share your time and companionship to bring joy and vitality to older adults in our community.</h2>
        </div>
        <div id="div5">
            <button>Youth Empowerment Workshop with Future Leaders NGO</button>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdzAYRMD8aFz10rgxztq7Z51f-pfk7vB3OStQI-sUeoq0zvPA/viewform?vc=0&c=0&w=1&flr=0" target="_blank">
              <button>Apply</button>
          </a>
          <a href="https://www.instagram.com/social_service_connect?igsh=d254Y2MyeDNvcHA2" target="_blank">
            <button>Contact</button>
        </a>
            <h2 class="location">Location: Local high schools and youth centers</h2>
            <h2>Date: Quarterly workshops (dates vary)</h2>
            <h2 class="dis">Description: Inspire and empower the next generation by volunteering with Future Leaders NGO. Participate in interactive workshops and mentoring sessions focused on leadership development, career exploration, and personal growth for high school students. Volunteer mentors provide guidance, encouragement, and real-world insights to help youth unlock their potential and achieve their goals.
            </h2>
         </div>
        
    </main>


</body>
</html>